<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>

<main>

<h1>Lista de Pacientes</h1>
<a href="/pacientes/form">Adicionar</a>
<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
    </tr>
    <tr th:each="p : ${pacientes}">
        <td th:text="${p.id}"> </td>
        <td th:text="${p.nome}"> </td>
        <td th:text="${p.telefone}"> </td>
        <td> <a th:href="@{/consultas/listapaciente/{id}(id=${p.id})}">Consulta</a> </td>
        <td> <a th:href="@{/pacientes/edit/{id}(id=${p.id})}">Editar</a> </td>
        <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pacientes/remove/{id}(id=${p.id})}">Excluir</a> </td>
    </tr>
</table>
</main>
</body>
</html>