<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<main class="container">

    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <body>
        <h1>Lista de Consultas</h1>
        <table class="table" border="1">
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Status</th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr th:each="a : ${agendas}">
                <td th:text="${a.id}"> </td>
                <td th:text="${a.data}"> </td>
                <td th:text="${a.status}"> </td>
                <!--        <td sec:authorize="hasAnyRole('ADMIN', 'ATENDENTE')"> <a th:href="@{/agendas/edit/{id}(id=${c.id})}">Editar</a> </td>-->
                <!--        <td sec:authorize="hasAnyRole('ADMIN', 'ATENDENTE')"> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/agendas/remove/{id}(id=${c.id})}">Excluir</a> </td>-->
            </tr>
        </table>
        </body>
    </div>
</main>
</html>