<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>

</head>
<body>

<h1>Registro de consultas</h1><br>
<form th:action="${consulta.id == null} ? @{/consultas/save} : @{/consultas/update}"
      th:object="${consulta}" method="post">

    <input type="hidden" th:field="*{id}">
    <input type="number" th:field="*{valor}" placeholder="Valor">
    <input type="datetime-local" th:field="*{dataEHorario}" placeholder="Data e Horário">
    <input type="text" th:field="*{observacao}" placeholder="Observação">

    <select class="form-select" id="pacientes" th:field="*{paciente.id}">
        <option value="">Selecione o paciente</option>
        <option th:each="p : ${pacientes}" th:value="${p.id}"
                th:text="${p.nome}" selected="selected"></option>
    </select><br>

    <select class="form-select" id="medicos" th:field="*{medico.id}">
        <option value="">Selecione o médico</option>
        <option th:each="m : ${medicos}" th:value="${m.id}"
                th:text="${m.nome}" selected="selected"></option>
    </select>
    <input type="submit" class="btn btn-outline-primary" value="Enviar">

</form>

</body>
</html>