<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>
<main class="container">
<h1>Lista de consulta do Paciente</h1><br>
<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>valor</th>
        <th>Observação</th>
    </tr>
    <tr th:each="c : ${consultas}">
        <td th:text="${c.id}"> </td>
        <td th:text="${c.dataEHorario}"> </td>
        <td th:text="${c.valor}"> </td>
        <!--        <td th:text="${c.observacao}"> </td>-->
        <!--        <td th:text="${c.medico.nome}"> </td>-->
        <!--        <td th:text="${c.paciente.nome}"> </td>-->
    </tr>
</table>
</main>
</body>
</html>