<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>
<main>
<h1>Formulario</h1><br>
<form th:action="${medico.id == null} ? @{/medicos/save} : @{/medicos/update}" th:object="${medico}" method="post">
    <input type="hidden" th:field="*{id}">

    <input type="text" th:field="*{nome}"  placeholder="Nome"th:errorclass="is-invalid">
    <label class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>

    <input type="text" th:field="*{crm}"  placeholder="CRM"th:errorclass="is-invalid">
    <label class="invalid-feedback" th:if="${#fields.hasErrors('crm')}" th:errors="*{crm}"></label>

    <input type="submit" class="btn btn-outline-info" value="Enviar">
</form>
</main>
</body>
</html>